.input-container {
  display: flex;
  align-items: center;
  padding-left: 1em;
  background: #efefef;
  position: relative;
  border-radius: 0.5em;
}

.input-container:focus-within:not([data-error='true']) {
  outline: 1px solid var(--main-color);
}

.input-container > svg:first-child {
  color: var(--main-font-color);
  filter: opacity(0.5);
  font-size: 0.9em;
}

.form-input {
  width: 100%;
  padding: 1em;
  border: none;
  border-radius: 0.5em;
  background: #efefef;
}

.form-input:focus-visible {
  outline: none;
}

/* error */
.error-outline {
  outline: 1px solid red;
}

.error-message {
  color: red;
  font-size: 0.6em;
  margin: -1em 0 0 1em;
}

.error-icon {
  color: red;
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translateY(-50%);
}
