.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20em;
  gap: 1.5em;
  padding: 1.5em;
  border-radius: 0.5em;
  background: var(--secondary-color);
}

.register-inputs {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.register-form > button {
  margin-top: 1em;
}

@media screen and (min-width: 1025px) {
  .register-form {
    padding: 1.5em 2.5em;
    gap: 1.8em;
    width: 30em;
  }

  .register-inputs {
    display: grid;
    gap: 1.5em;
    grid-template-columns: 1fr 1fr;
  }

  .input-error-container {
    position: relative;
  }

  .register-inputs .error-message {
    position: absolute;
    bottom: -1.7em;
    left: 0;
  }
}
