header {
  position: relative;
  background: var(--header-color);
}

header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8em 0;
}

/* logo section */
.logo-section {
  display: flex;
  align-items: center;
  gap: 1em;
  text-decoration: none;
  color: var(--main-font-color);
}

.logo-section img {
  width: 1.3em;
  display: none;
}

.logo-section span {
  font-size: 1.3em;
}

/* toggle-menu */
.toggle-menu {
  font-size: 1.5em;
  color: var(--main-font-color);
  position: absolute;
  left: 1em;
  top: 50%;
  transform: translateY(-50%);
}

/* nav */
nav {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: var(--header-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  visibility: hidden;
}

nav > a {
  padding: 1em 2em;
  position: relative;
  text-decoration: none;
  color: var(--main-font-color);
}

.visible {
  visibility: visible;
}
