header {
  position: relative;
  background: var(--secondary-color);
}

header .container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8em 0;
}

/* logo section */
.logo-section {
  display: flex;
  align-items: center;
  gap: 1em;
  text-decoration: none;
  color: var(--main-font-color);
}

.logo-section img {
  width: 1.3em;
  display: none;
}

.logo-section span {
  font-size: 1.3em;
}

/* toggle-menu */
.toggle-menu {
  position: absolute;
  left: 0.6em;
  top: 50%;
  font-size: 1.5em;
  color: var(--main-font-color);
  transform: translateY(-50%);
}

/* nav */
nav {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  z-index: 99;
  display: flex;
  flex-direction: column;
  padding: 1em 2em;
  gap: 1em;
  background: var(--secondary-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  visibility: hidden;
}

nav > a {
  position: relative;
  text-decoration: none;
  color: var(--main-font-color);
}

.logout-button, .user-section {
  display: grid;
  grid-template-columns: 0.3fr 3fr;
  font-size: 1em;
  color: var(--main-font-color);
  border: none;
  background: none;
  text-align: left;
}

.logout-icon {
  font-size: 1.2em;
}
