.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.visible {
  visibility: visible;
}

.main-content {
  display: grid;
  place-items: center;
  padding: 1em;
  height: 100%;
  flex-grow: 1;
}
